body{
    background-image: url(../Images/backgroundStars.jpg);
}
/* }

.row {
    display: flex;
    width: 75%;
    height: 75%;
    margin-top: 300px;
    flex-wrap: wrap;
    justify-content: center;
 

}


#checkout{
    background-color: #212121;
    color: aliceblue;
    border-radius: 25px;
    width: 75%;
    height: 50%;
    margin: center;

}

.cartSum{
    float: right;
} */

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    /* margin-left: 150px; */
}

.centered-container {
    display: flex;
}

.container {
    max-width: 600px;
    margin: 20px;
    background-color: #fff;
    color:  aliceblue;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

aside {
    /* position: relative; */
    overflow-y:scroll;
    scroll-behavior: auto;
    /* left: 300px; */
    height: 90vh
}

#checkout {
    /* position: absolute; */
    /* left: 0px */
    min-width: 600px;
    
}

.form-group {
    margin-bottom: 20px;
}
.form-group label {
    display: block;
    font-weight: bold;
    color:  aliceblue;
}
.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    color:  aliceblue;
}
.form-group input[type="submit"] {
    background-color: rgb(238, 219, 0);
    color: #fff;
    cursor: pointer;
    color:  aliceblue;
}

#submitbutton {
    font-family: Aurebesh;
    font-weight: bold;
    color: black;
}

@font-face {
    font-family: Aurebesh;
    src: url(../Aurebesh.ttf);
}


