
*{
    /* background-image: url(../Images/star-wars-spaceships-death-star.avif); */
}

#searchBox{
   background-color: aliceblue;
}

#displayedcards{
    justify-content: center
}

.starship{
    border: 3px solid black;
    /* width: 400px; */
    height: 450px;
}

#banner{
    /* messed with margins to align banner with searchbox; */
    height: 35vh;
    border: 3px solid black;
    margin-top: 8px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    
}


.imgCss{
    border-radius: 25px;
}



.brand-logo{
    margin-left: 25px;
    font-family: Aurebesh;
}


@font-face {
    font-family: Aurebesh;
    src: url(../Aurebesh.ttf);
}